:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewShadow:#f0ead6;
	--previewBg:rgb(251, 249, 243, 0.8);

	--submitBtn: black;

}
html, body{
	padding: 0;
	margin: 0;
}

body *{
	transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}
p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color: #17a2b8;
}

ul{
	list-style: none;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}
section{
	height: 750px;
}
.main-container{
	width: 1000px;
	margin: 0 auto;
}

.title{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}
.section-body  {
	padding: 30px;
	top: -15px;
	margin-bottom: 30px;

}
.section-body .all .left-column {
	padding: 30px;
	margin-right: 50px;
}
.section-body ,.all{
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor)
	border-radius: 5px 5px 0 0;

	/* box shadow generator */
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-areas: 
	'nav-wrapper nav-wrapper'
	'left-column right-column'
	;
} 

.nav-wrapper{
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	border-radius: 5px 5px 0 0;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor)
}
#navigation a{
	color: var(--mainText)
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

#dot-1{
	background-color: #fc6058;
}

#dot-2{
	background-color: #fec02f;
}

#dot-3{
	background-color: #2aca3e;
}

#navigation{
	margin: 0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;  
}
#navigation .nav-link .link:hover{
	height: 50px;
	width: 50px;
	background-color: #17a2b8;
}

.left-column{
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile-pik{
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 2px solid var(--borderColor)
}

#theme-option-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
	margin: 5px;
	border: 2px solid var(--themeDotBorder); 
/* 
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); */
	cursor: pointer;
}

.theme-dot:hover{
	border-width: 5px;
}

#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7e4c74;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#preview{
	width: 300px;
	border: 1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

#preview-shadow{
	background-color: var(--previewShadow);
	width: 300px;
	height: 180px;
	padding-left: 10px;
	padding-top: 10px;
} 

.corner{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top: -5px;
	left: -5px;
}

#corner-tr{
	top: -5px;
	right: -5px;
}

#corner-br{
	bottom: -5px;
	right: -5px;
}

#corner-bl{
	bottom: -5px;
	left: -5px;
}


.skills{
	/* margin: 150px; */
display: flex;
	position: relative;
	margin-top: 12px;
	margin-left: 30px;
	justify-content: space-evenly;
}
#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}
.skills .progress {
	display: flex;
	position: relative;
	margin-top: 12px;
	margin-left: 30px;
	justify-content: space-evenly;
}
.language{
	display: inline;
}
.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social-image{
	width: 100%;
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.post-preview{
	background-color: #fff;
	padding: 15px;
}

.post-title{
	color: black;
	margin: 0;
}

.post-intro{
	color: #4b5156;
	font-size: 14px;
	white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.thumbnail{
	width: 100%;
	height: 180px;
	display: block;
	object-fit: cover;
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--submitBtn);
	border:none;
}

@media screen and (max-width: 1000px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.section-body .all{
		grid-template-columns: 1fr;
		grid-template-areas: 
		'nav-wrapper'
		'left-column'
		'right-column'
		;
	}
	.right-column{
		justify-content: center;
	}
}
/*------Footer------*/
.footer-basic {
	padding:40px 0;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }

  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  } 
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
  }
  footer{
	margin-left: 150px;
	margin-top: 50px;
  }
  td{
	border-radius: 50%;
  }
